.dashboard-card {
  bottom: 15px;
  left: 15px;
  position: absolute;
  right: 15px;
  top: 15px;
}

.dashboard-card-content {
  text-align: center;
}

.chart-container {
  height: 100%;
  width: 100%;
}
