<mat-card class="dashboard-card">
  <mat-card-header>
    <mat-card-title>
      {{title}}
      <button [matMenuTriggerFor]="menu" aria-label="Toggle menu" class="more-button" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item>Expand</button>
        <button mat-menu-item>Remove</button>
      </mat-menu>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="dashboard-card-content">
    <ng-container [ngSwitch]="type">
      <ng-container *ngSwitchCase="'bar'">
        <app-bar-chart></app-bar-chart>
      </ng-container>
      <ng-container *ngSwitchCase="'line'">
        <app-line-chart></app-line-chart>
      </ng-container>
      <ng-container *ngSwitchCase="'doughnut'">
        <app-doughnut-chart></app-doughnut-chart>
      </ng-container>
      <ng-container *ngSwitchCase="'radar'">
        <app-radar-chart></app-radar-chart>
      </ng-container>
    </ng-container>
  </mat-card-content>
</mat-card>
